div{
    background-image: url(Hakaluki-Haor.jpg);
    width: 1350px; height: 650px;
    color: rgb(94, 255, 0);
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 10px 10px 10px;
}